.info{
    margin-bottom: 20px;
    background-color: rgb(220, 229, 143);
    margin-top:100px;
    /* border:1px solid black; */
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(33,33,33,.2); 
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.info p{
    text-transform:capitalize;
}